/*  your css code here. If applicable */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.table-container {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

thead {
    background-color: #ddd;
}

tfoot {
    background-color: #ddd;
}
